<div class="d-grid">
  <div class="row mt-3">
    <div class="grid grid-cols-2">
      <div class="mb-5">
        <label
          for="email"
          class="ms-4 text-lg font-semibold text-gray-900 dark:text-white"
          >Agrega alguna tarea</label
        >
        <input
          type="text"
          class="bg-gray-50 border mt-5 ms-4 me-3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Escribe aqui tu tarea pendiente"
          required
          [formControl]="task"
        />
      </div>
      <div class="grid grid-cols-4 sm:grid-cols-2">
        <button
          (click)="addTasks()"
          type="button"
          class="h-12 ms-8 mt-11 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        >
          Agrega una tarea
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngFor="let task of tasks()">
    <div class="form-check align-items-center col-8 border rounded ms-2">
      <input
        class="form-check-input mt-2 ms-1"
        type="checkbox"
        [value]="task.isCompleted"
        (click)="toggleCompletedTask(task)"
      />

      <label
        class="form-check-label w-50 mt-1 ms-1"
        [ngClass]="{ 'text-decoration-line-through': task.isCompleted }"
        >{{ task.name }}
      </label>
    </div>
    <button class="btn btn-danger col-2 ms-1" (click)="deleteTask(task)">
      Eliminar
    </button>
  </div>
  <div class="row" *ngIf="tasks().length > 0">
    <button (click)="resetTask()" class="btn btn-danger mt-5 col-3">
      Resetear lista tareas
    </button>
    <p>Tareas completadas {{ completedTask().length }}</p>
    <p>Tareas completadas {{ uncompletedTask().length }}</p>
  </div>
</div>
