.card {
  height: 460px;

  img {
    width: 90%;
    height: 300px;
    object-fit: cover;
  }

  &-body {
    .card-title {
      height: 20px;
      overflow: hidden;
    }
  }

  .button {
    background-color: #082f4b;
    border: none !important;
  }
}
